<section class="bg-secondary text-white sec-2  position-relative">
  <div class="container">
    <app-sec-arrow color="white"></app-sec-arrow>
    <div class="row gap-5 justify-content-between position-relative">
      <div class="col-xl-5">
        <div class="position-relative">
          <owl-carousel-o [options]="customOptions">

            <ng-template carouselSlide>
              <div class="d-flex flex-column position-relative slide-padding" style="z-index: 9;">
                <div>

                  <article class="fw-semibold mb-3 fs-32 line-high-32">
                    Take advantage of the superior load-loading platforms of "NQLYATsolutions", which serve
                    intermediaries
                    of
                    all
                    sizes.
                    Whether you are an emerging broker or a country-wide operation, the pallets for loading cargo for
                    brokers
                    from
                    "transport solutions" guarantee prompt delivery of your shipments.
                  </article>
                  <p class="fs-20">
                    Cargo loading platforms from "NQLYAT solutions" are designed to simplify your operations and keep
                    your
                    cargo in constant motion. We rely on actual transactions to deliver accurate market prices across
                    various
                    routes, while peer reviews direct you to the perfect carrier every time. With "transportation
                    solutions",
                    you can publish and search for trucks without limits, and stay informed thanks to instant alerts
                    even
                    when
                    you are offline.
                  </p>
                </div>
                <div class="mt-5 d-flex fs-16">
                  <button class="btn btn-light text-main rounded-5 main-p">Get A Quote</button>
                  <button class="btn btn-outline-light ms-3 rounded-5 main-p">Learn More</button>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="d-flex flex-column position-relative slide-padding" style="z-index: 9;">
                <div>

                  <article class="fw-semibold mb-3 fs-32 line-high-32">
                    Take advantage of the superior load-loading platforms of "NQLYATsolutions", which serve
                    intermediaries
                    of
                    all
                    sizes.
                    Whether you are an emerging broker or a country-wide operation, the pallets for loading cargo for
                    brokers
                    from
                    "transport solutions" guarantee prompt delivery of your shipments.
                  </article>
                  <p class="fs-20">
                    Cargo loading platforms from "NQLYAT solutions" are designed to simplify your operations and keep
                    your
                    cargo in constant motion. We rely on actual transactions to deliver accurate market prices across
                    various
                    routes, while peer reviews direct you to the perfect carrier every time. With "transportation
                    solutions",
                    you can publish and search for trucks without limits, and stay informed thanks to instant alerts
                    even
                    when
                    you are offline.
                  </p>
                </div>
                <div class="mt-5 d-flex fs-16">
                  <button class="btn btn-light text-main rounded-5 main-p">Get A Quote</button>
                  <button class="btn btn-outline-light ms-3 rounded-5 main-p">Learn More</button>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="d-flex flex-column position-relative slide-padding" style="z-index: 9;">
                <div>

                  <article class="fw-semibold mb-3 fs-32 line-high-32">
                    Take advantage of the superior load-loading platforms of "NQLYATsolutions", which serve
                    intermediaries
                    of
                    all
                    sizes.
                    Whether you are an emerging broker or a country-wide operation, the pallets for loading cargo for
                    brokers
                    from
                    "transport solutions" guarantee prompt delivery of your shipments.
                  </article>
                  <p class="fs-20">
                    Cargo loading platforms from "NQLYAT solutions" are designed to simplify your operations and keep
                    your
                    cargo in constant motion. We rely on actual transactions to deliver accurate market prices across
                    various
                    routes, while peer reviews direct you to the perfect carrier every time. With "transportation
                    solutions",
                    you can publish and search for trucks without limits, and stay informed thanks to instant alerts
                    even
                    when
                    you are offline.
                  </p>
                </div>
                <div class="mt-5 d-flex fs-16">
                  <button class="btn btn-light text-main rounded-5 main-p">Get A Quote</button>
                  <button class="btn btn-outline-light ms-3 rounded-5 main-p">Learn More</button>
                </div>
              </div>
            </ng-template>


          </owl-carousel-o>
        </div>

      </div>
      <div class="col-xl-6 d-xl-block d-none">
        <div class="position-relative">
          <div class="position-relative ">
            <img class="position-relative " src="../../../../assets/images/sec2-1.png" alt=""
              style="width: 100%; z-index: 3;">
          </div>
          <div>
            <img class="position-absolute top-0 start-0 " src="../../../../assets/images/sec2-2.png" alt="" style="width: 100%;
            transform: translate(27%, 5%);
            z-index: 2;">
          </div>
          <div class="position-absolute top-0 start-0 " style="transform: translate(100%, 10%);
            z-index: 1;">
            <img class="" src="../../../../assets/images/sec2-3.png" alt="" style="max-width: 100%;
            ">
          </div>
        </div>
      </div>
    </div>
    <div class="blured-shadow"></div>
  </div>

</section>