<section class="bg-secondary text-white sec-4 sec-padding position-relative" style="z-index: 99;">

  <div class="container">
    <div class="row">
      <div class="col-xl-7 mb-5">
        <div>
          <div class="row flex-wrap">
            <div class="col-md-6">
              <div class="row flex-column">
                <div class="col-12 mb-4">
                  <div class="radius-50 my-shadow">
                    <img src="../../../../assets/images/sec-4-1.png" alt="">
                  </div>
                </div>
                <div class="col-12 mb-4">
                  <div class="radius-50 my-shadow">
                    <img src="../../../../assets/images/sec-4-2.png" alt="">
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-6">
              <div class="row flex-column">
                <div class="col-12 mb-4">
                  <div class="radius-50 my-shadow">
                    <img src="../../../../assets/images/sec-4-3.png" alt="">
                  </div>
                </div>
                <div class="col-12 mb-4">
                  <div class="radius-50 my-shadow">
                    <img src="../../../../assets/images/sec-4-4.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-5">
        <div>
          <h2 class="text-main mb-4 fs-40">NQLYAT loading platform</h2>
          <div class="d-flex flex-wrap" style="gap: 32px; ">
            <app-chips chipName="Transportation Solutions"></app-chips>
            <app-chips chipName="Shipping"></app-chips>
            <app-chips chipName="Charger"></app-chips>
            <app-chips chipName="Middle East"></app-chips>
            <app-chips chipName="North Africa"></app-chips>
            <app-chips chipName="Loads"></app-chips>
            <app-chips chipName="Communication"></app-chips>
            <app-chips chipName="Agreements"></app-chips>
            <app-chips chipName="Acceleration"></app-chips>
            <app-chips chipName="Business growth."></app-chips>
            <app-chips chipName="Ease"></app-chips>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>