<section class="bg-secondary sec-6 text-white   position-relative">
  <div class="position-absolute top-0 start-0" style="background-image: url('../../../../assets/images/sec-6-bg.png');
  background-size: cover; width: 100%; height: 856px;">

  </div>
  <div class="container">
    <app-sec-arrow color="main"></app-sec-arrow>
    <div class=" row position-relative justify-content-center" style="z-index: 99;">
      <div class="col-12" style="font-size: 20px; line-height: 24.2px;font-weight: 500;">
        <div>
          <p class="col-lg-5">
            Speeding up the carrier registration process and minimizing risks is part of the effective process of
            shipping agencies.
          </p>
        </div>
      </div>
      <div class="col-lg-6 mb-5" style="font-size: 32px; line-height: 38.73px;font-weight: 600;">
        <div>
          <p class="">
            <span class="text-main">"NQLYAT Solutions"</span>
            offers a comprehensive solution that goes beyond the basic data of tonnage and freight.
          </p>
        </div>
      </div>
      <div class="col-lg-6 mb-5" style="font-size: 32px; line-height: 38.73px ;font-weight: 600; margin-bottom: 106px;">
        <div>
          <p>
            <span class="text-main">Our customers</span>
            get exclusive access to the best carrier monitoring services and smooth registration
            processes, as well as Advanced Cargo Tracking Solutions, setting a new standard in freight brokerage
          </p>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 mb-4">
        <div>
          <app-ordered-card [order]="1" imgSrc="sec-6-1.jpeg"
            description='With "NQLYAT solutions", you can reach a fleet size that is three times larger than what other cargo loading platforms offer to intermediaries. '></app-ordered-card>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 mb-4">
        <div>
          <app-ordered-card [order]="2" imgSrc="sec-6-2.jpeg"
            description='The selected plans include the" NQLYAT solutions " carrier monitoring service, a service that helps you quickly qualify carriers, avoid the risks of interrupted service, and ensure safety compliance.'></app-ordered-card>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 mb-4">
        <div>
          <app-ordered-card [order]="3" imgSrc="sec-6-3.jpeg"
            description='In addition, "NQLYAT Solutions" offers additional services such as registration and cargo tracking to provide accurate timing of tracking, as well as connecting to a ready-made network of carriers equipped to track loads instantly.'></app-ordered-card>
        </div>
      </div>
      <div class="col-12 my-5">
        <div class="text-center">
          <button class="btn btn-light text-main mx-auto"
            style="padding: 24px 64px; border-radius: 60px; font-size: 24px; font-weight: 600;">Read More</button>
        </div>
      </div>
    </div>
  </div>
</section>