<section class="text-white sec-5 position-relative" style="padding-bottom: 128px;">

  <div class="container">
    <app-sec-arrow color="main"></app-sec-arrow>
    <div class="row justify-content-center align-items-stretch text-center">
      <div class="col-lg-9">
        <div class="description p-5 fs-32 line-height-38 px-0">
          <p>
            Elevate your organization with the leading Naqlyat loading panel for Achieve a national vision for your
            loads and expand your capacity and profitability by using industry-leading load loading platforms for
            brokers from "NQLYATsolutions".
          </p>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-4">
        <div class="h-100">
          <app-card image="sec-5-1.png"
            discription='Take advantage of the reliability and flexibility offered by "NQLYAT solutions" to upgrade your business as a broker.'></app-card>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-4">
        <div class="h-100">
          <app-card image="sec-5-2.png"
            discription='Cargo loading platforms for brokers from "transport solutions" connect you with the widest network of drivers, allowing you to quickly match truckloads at the right price.'></app-card>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-4">
        <div class="h-100">
          <app-card image="sec-5-3.png"
            discription='Take a positive step forward by monitoring capacity and taking advantage of our market trend data.'></app-card>
        </div>
      </div>
      <div class="col-xl-3 my-4">
        <div>
          <button class="btn btn-light text-main"
            style="padding: 24px 64px; border-radius: 60px; font-size: 24px; font-weight: 600;">Read More</button>
        </div>
      </div>
    </div>
  </div>
</section>