<section class="bg-secondary text-white sec-3 sec-padding pb-0">

  <div class="container">
    <app-sec-arrow color="main"></app-sec-arrow>
    <div class="row">
      <div class="col-12">
        <div>
          <div class="row justify-content-center align-items-stretch">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="h-100">
                <app-card icon="numbers.png"
                  discription='Cargo loading platforms from "NQLYAT solutions" are designed to simplify your operations and keep your cargo in constant motion. '></app-card>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="h-100">
                <app-card icon="ok.png"
                  discription='We rely on actual transactions to deliver accurate market prices across various routes, while peer reviews direct you to the perfect carrier every time.'></app-card>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="h-100">
                <app-card icon="track.png"
                  discription='With "transportation solutions", you can publish and search for trucks without limits, and stay informed thanks to instant alerts even when you are offline.'></app-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>