<section class="landing sec-1 position-relative" style="
background-image: url('../../../../assets/images/landing\ background.png');
background-position: center center ;
background-size: cover;
z-index: 30;
">
  <div class="container">
    <div class="row justify-content-center align-items-center text-white min-vh-100 ">
      <div class="col-lg-8 col-xl-6">
        <div class=" text-center mt-5">
          <div class="d-flex flex-column fw-bold fs-64 ">
            Intermediaries In
            <span class="text-main mb-3" style="line-height: 1">"NQLYAT Solutions"</span>
          </div>
          <p class="fw-bold fs-24 mb-5">
            Can Now Transport More Cargo And Tackle Any Logistical Challenge, Thanks To Access To The Largest Fleet And
            The Widest Data In The Market.
          </p>
          <button class="btn btn-light text-main fs-20 fw-600 btn-padding radius-50 shadding">Get in touch</button>
        </div>
      </div>

    </div>
  </div>
</section>