<div class="ordered-card d-flex radius-50 w-100 p-40" style=" height: 486px; background-size: cover ;
  background-position: center center;" [style]="'background-image: url(../../../../assets/images/'+imgSrc+')'">


  <div class="body w-100  d-flex flex-column  position-relative fs-20 line-high-24 fw-600"
    style="z-index: 99; margin-top: 160px;">
    <div class="mb-3 d-flex align-items-end">
      <span class=" text-main" style="font-size: 40px;"> {{order}}</span>
      <span> {{order}}</span>
    </div>
    <p style="font-size: 20px; line-height: 24px; font-weight: 600;">
      {{description}}
    </p>
  </div>

</div>