<footer class="text-white sec-9 sec-padding bg-secondary position-relative min-vh-100">
  <div class="position-absolute top-0 end-0 bg-img col-lg-6" style="background-image: url('../../../../assets/images/sec-9-bg.jpeg');
  background-size: cover; height: 100%; background-position: center center;  filter: grayscale(100%);">

  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div>
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="d-flex flex-column " style="width: 268px;">
                <div class="mb-3">
                  <img class="w-100" src="../../../../assets/images/footer-logo.png" alt="">
                </div>
                <p class="fs-16 line-height-19" style="font-weight: 500;">Nqlyat solutions: the leading shipping
                  platform with superior service quality</p>
                <h1>
                  Get in touch
                </h1>
                <ul class="info">
                  <li>
                    <a href="mailto: name@email.com">
                      <span>
                        <i class="fa-regular fa-envelope"></i>
                      </span>
                      Marie28&#64;yahoo.com
                    </a>
                  </li>
                  <li>
                    <a href="mailto: name@email.com">
                      <span>
                        <i class="fa-regular fa-envelope"></i>
                      </span>
                      Marie28&#64;yahoo.com
                    </a>
                  </li>
                  <li>
                    <a href="tel:+4733378901">
                      <span>
                        <i class="fa-solid fa-phone"></i>
                      </span>
                      360.766.0553
                    </a>
                  </li>
                  <li>
                    <a href="tel:+4733378901">
                      <span>
                        <i class="fa-solid fa-phone"></i>
                      </span>
                      360.766.0553
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div>
                <h2 class="" style="font-size: 40px;">
                  Company
                </h2>
                <ul class="fs-24 line-height-29 footer-Routes">
                  <li>
                    <a href="">
                      Home
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Solution
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Pricing
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Services
                    </a>
                  </li>
                  <li>
                    <a href="">
                      About Us
                    </a>
                  </li>
                  <li>
                    <a href="">
                      News
                    </a>
                  </li>
                  <li>
                    <a href="">
                      Contact Us
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 position-relative z-index-999">
        <div>
          <h2 class="fs-40 line-height-48 text-main">
            Subscribe
          </h2>
          <div class="d-flex pb-4  border-bottom border-2 border-white" style="gap: 25px;">
            <input class="form-control p-16 radius-10 w-75" type="text" placeholder="Enter your email">
            <button class="btn btn-main text-white p-16 radius-10">
              Subscribe
            </button>
          </div>
          <div class="social d-flex mt-5">
            <span>
              <a href="">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </span>
            <span>
              <a href="">
                <i class="fa-brands fa-threads"></i>
              </a>
            </span>
            <span>
              <a href="">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
            </span>
            <span>
              <a href="">
                <i class="fa-brands fa-facebook"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>