<div class="bg-white testemonial" style="padding: 40px; border-radius: 50px;">
  <div class="header d-flex align-items-center mb-3">
    <div class="rounded-circle overflow-hidden"
      style="width: 70px; height: 70px; background-size: cover; background-position: center center;"
      [style]="'background-image: url(../../../../assets/images/'+image+')'">
    </div>
    <div class="ms-3">
      <h5 class="mb-0 fw-bold">{{name}}</h5>
      <span>{{role}}</span>
      <div class="d-flex align-items-center justify-content-between w-25" style="color: #FEC70F; font-size: 12px;">
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
      </div>
    </div>
  </div>
  <div class="body">
    <p style="font-size: 20px; line-height: 24px;">
      {{description}}
    </p>
  </div>
</div>